a.link{
    text-decoration: none;
    color:aliceblue;
}
a:visited{
    text-decoration: none;
    color:#FF8C00
}
.container{
    width:80%;
    margin:auto;
}

.fig_low{
    width: 500;
    height: 500;
    margin:auto;
}

p{
    font-size:x-large;
}
