html{
    scroll-behavior: smooth;
}
body{
    background-image: url("https://i.pinimg.com/originals/c4/0d/b6/c40db678aa354ba91257f6258a1521e1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#FF8C00;
    text-align: center;
    font-family: cursive;
    line-height: 1.5;
     
}
h1{
    font-size: 5em;
}
.menu{
    background-color: black;
    
}
a.link{
    text-decoration: none;
    color:aliceblue;
}
.container{
    width:80%;
    margin:auto;
}

.fig_low{
    width: 500;
    height: 500;
    margin:auto;
}

p{
    font-size:x-large;
}
footer{
    background-color: black;
    text-align: left;
}
.os{
    text-align: left;
}